@font-face {
  font-family: Sansation_Regular;
  src: url(../fonts/Sansation_Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  background-image: url(../img/top-banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__inner {
  margin: 0;
  padding: 0;
}
.header__inner nav {
  margin: 0;
  padding: 0;
}
.header__inner ul {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid #8b8b8b;
}
@media screen and (max-width: 1080px) {
  .header__inner ul {
    min-height: 80px;
    height: 100%;
  }
}
.header__inner ul .nav__logo {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.header__inner ul .nav__text {
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__inner ul .nav__text .nav__item {
  margin-left: 5px;
  margin-right: 5px;
}
.header__inner ul .nav__text .nav__item .nav__link {
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.header__inner ul .nav__text .nav__item .nav__link:hover {
  color: #01a124;
}
.header__inner ul .nav__social {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__inner ul .nav__social .nav__item {
  margin-left: 5px;
  margin-right: 5px;
}
.header__inner ul .nav__social .nav__item img {
  width: 35px;
  height: 35px;
}
.header__inner ul .nav__social .nav__item img:hover {
  width: 40px;
  height: 40px;
}

.header__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 15%;
}
.header__slider .header__arrow-wrapper {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
.header__slider .header__box {
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  background: linear-gradient(#8b8b8b, #8b8b8b), linear-gradient(#8b8b8b, #8b8b8b);
  background-size: 310px 1px, 310px 1px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  text-align: center;
}
@media screen and (max-width: 870px) {
  .header__slider .header__box {
    background-size: 150px 1px, 150px 1px;
  }
}
@media screen and (max-width: 540px) {
  .header__slider .header__box {
    background-size: 50px 1px, 50px 1px;
  }
}
.header__slider .header__box .box__heading {
  color: #fff;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}
.header__slider .header__box .box__text {
  text-justify: center;
  color: #fff;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}
.header__slider .header__box .box__btn {
  width: 130px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: 3px solid #fff;
  position: relative;
  top: 20px;
}
.header__slider .header__box .box__btn:hover {
  background-color: #fff;
  color: #8b8b8b;
  cursor: pointer;
  border: 3px solid #8b8b8b;
}

main .aboutUs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  main .aboutUs {
    justify-content: center;
  }
}
main .aboutUs .aboutUs__photo {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__photo {
    width: 100%;
  }
}
main .aboutUs .aboutUs__photo .aboutUs__img {
  width: 100%;
}
main .aboutUs .aboutUs__text-section {
  width: 45%;
  margin-left: 50px;
  margin-top: 70px;
  font-family: Sansation_Regular;
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section {
    width: 70%;
  }
}
main .aboutUs .aboutUs__text-section .text-section__heading {
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 3px;
  padding-bottom: 15px;
  border-bottom: 1px #000 solid;
  max-width: 450px;
  width: 100%;
}
main .aboutUs .aboutUs__text-section .text-section__extra-line {
  position: relative;
  width: 85px;
  border-top: 2px solid #000;
}
main .aboutUs .aboutUs__text-section .text-section__text {
  margin-top: 50px;
  font-size: 16px;
  max-width: 450px;
  width: 100%;
  letter-spacing: 1px;
  font-stretch: ultra-expanded;
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    max-width: 600px;
  }
}
@media screen and (min-width: 1800px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    max-width: 700px;
  }
}
@media screen and (max-width: 1300px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    margin-top: 50px;
  }
}
main .aboutUs .aboutUs__text-section .text-section__button {
  margin-top: 80px;
  width: 180px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #05a0af;
  color: #fff;
  font-family: Sansation_Regular;
  font-size: 16px !important;
}
@media screen and (max-width: 1300px) {
  main .aboutUs .aboutUs__text-section .text-section__button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section .text-section__button {
    margin-top: 80px;
  }
}
main .aboutUs .aboutUs__text-section .text-section__button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #05a0af;
  border: 1px solid #05a0af;
}
main .aboutUs .aboutUs__text-section .text-section__button:active {
  border: none;
  cursor: pointer;
  background-color: #05a0af;
  color: #fff;
  width: 175px;
}
main .services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  main .services {
    margin-top: 100px;
  }
}
main .services .services__heading {
  width: 100%;
  height: 200px;
  background-color: #373737;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: -5px;
  font-family: Sansation_Regular;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 3px;
}
main .services .services__heading .heading {
  text-align: center;
  width: 80%;
}
main .services .services__heading .border {
  background: linear-gradient(#8b8b8b, #8b8b8b), linear-gradient(#8b8b8b, #8b8b8b);
  background-size: 360px 1px, 360px 1px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
@media screen and (max-width: 1400px) {
  main .services .services__heading .border {
    background: none;
  }
}
main .services .services__heading .services__extra-line {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  left: 360px;
  top: 32px;
}
@media screen and (max-width: 1400px) {
  main .services .services__heading .services__extra-line {
    display: none;
  }
}
main .services .services__heading .services__extra-line1 {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  right: 360px;
  top: 32px;
}
@media screen and (max-width: 1400px) {
  main .services .services__heading .services__extra-line1 {
    display: none;
  }
}
main .services .services__slider .slider__arrow-wrapper {
  width: 34px;
  position: relative;
  float: right;
  right: 2px;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
main .services .services__slider .slider__arrow-wrapper .arrow {
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #097e89;
}
main .services .services__slider .slider__arrow-wrapper .arrow:hover {
  cursor: pointer;
}
main .services .services__slider .slider__arrow-wrapper .arrow:active {
  width: 27px;
  height: 27px;
}
main .services .services__slider .slider__screen1 {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media screen and (max-width: 750px) {
  main .services .services__slider .slider__screen1 {
    flex-wrap: wrap;
  }
}
main .services .services__slider .slider__screen1 .slider__item {
  max-width: 500px;
  height: 755px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Sansation_Regular;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 30px;
}
@media screen and (max-width: 750px) {
  main .services .services__slider .slider__screen1 .slider__item {
    height: 555px;
    max-width: 750px;
    width: 100%;
  }
}
@media screen and (min-width: 1713px) {
  main .services .services__slider .slider__screen1 .slider__item {
    max-width: 40%;
  }
}
main .services .services__slider .slider__screen1 .slider__item .item__heading {
  margin-top: 50px;
  text-transform: uppercase;
}
main .services .services__slider .slider__screen1 .slider__item .item__text {
  margin-top: 20px;
}
main .services .services__slider .slider__screen1 .slider__item .item__button {
  width: 140px;
  color: #fff;
  text-transform: uppercase;
  background-color: #959595;
  padding: 7px 18px;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  margin-top: 25px;
}
main .services .services__slider .slider__screen1 .side {
  background-color: #3d3d3d;
}
main .services .services__slider .slider__screen1 .center {
  background-color: #097e89;
}