@font-face {
  font-family: Sansation_Regular;
  src: url(../fonts/Sansation_Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;
  background-image: url(../img/top-banner.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.header__inner {
  margin: 0;
  padding: 0;
}
.header__inner nav {
  margin: 0;
  padding: 0;
}
.header__inner ul {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  border-bottom: 1px solid #8b8b8b;
}
@media screen and (max-width: 1080px) {
  .header__inner ul {
    min-height: 80px;
    height: 100%;
  }
}
.header__inner ul .nav__logo {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.header__inner ul .nav__text {
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__inner ul .nav__text .nav__item {
  margin-left: 5px;
  margin-right: 5px;
}
.header__inner ul .nav__text .nav__item .nav__link {
  color: #fff;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.header__inner ul .nav__text .nav__item .nav__link:hover {
  color: #01a124;
}
.header__inner ul .nav__social {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header__inner ul .nav__social .nav__item {
  margin-left: 5px;
  margin-right: 5px;
}
.header__inner ul .nav__social .nav__item img {
  width: 35px;
  height: 35px;
}
.header__inner ul .nav__social .nav__item img:hover {
  width: 40px;
  height: 40px;
}

.header__slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 15%;
}
.header__slider .header__arrow-wrapper {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 15px;
}
.header__slider .header__box {
  max-width: 840px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
  border-left: 1px solid #8b8b8b;
  background: linear-gradient(#8b8b8b, #8b8b8b), linear-gradient(#8b8b8b, #8b8b8b);
  background-size: 310px 1px, 310px 1px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  text-align: center;
}
@media screen and (max-width: 870px) {
  .header__slider .header__box {
    background-size: 150px 1px, 150px 1px;
  }
}
@media screen and (max-width: 540px) {
  .header__slider .header__box {
    background-size: 50px 1px, 50px 1px;
  }
}
.header__slider .header__box .box__heading {
  color: #fff;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}
.header__slider .header__box .box__text {
  text-justify: center;
  color: #fff;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
}
.header__slider .header__box .box__btn {
  width: 130px;
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: 3px solid #fff;
  position: relative;
  top: 20px;
}
.header__slider .header__box .box__btn:hover {
  background-color: #fff;
  color: #8b8b8b;
  cursor: pointer;
  border: 3px solid #8b8b8b;
}

main .aboutUs {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 1000px) {
  main .aboutUs {
    justify-content: center;
  }
}
main .aboutUs .aboutUs__photo {
  width: 50%;
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__photo {
    width: 100%;
  }
}
main .aboutUs .aboutUs__photo .aboutUs__img {
  width: 100%;
}
main .aboutUs .aboutUs__text-section {
  width: 45%;
  margin-left: 50px;
  margin-top: 70px;
  font-family: Sansation_Regular;
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section {
    width: 70%;
  }
}
main .aboutUs .aboutUs__text-section .text-section__heading {
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 3px;
  padding-bottom: 15px;
  border-bottom: 1px #000 solid;
  max-width: 450px;
  width: 100%;
}
main .aboutUs .aboutUs__text-section .text-section__extra-line {
  position: relative;
  width: 85px;
  border-top: 2px solid #000;
}
main .aboutUs .aboutUs__text-section .text-section__text {
  margin-top: 50px;
  font-size: 16px;
  max-width: 450px;
  width: 100%;
  letter-spacing: 1px;
  font-stretch: ultra-expanded;
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    max-width: 600px;
  }
}
@media screen and (min-width: 1800px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    max-width: 700px;
  }
}
@media screen and (max-width: 1300px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section .text-section__text {
    margin-top: 50px;
  }
}
main .aboutUs .aboutUs__text-section .text-section__button {
  margin-top: 80px;
  width: 180px;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: #05a0af;
  color: #fff;
  font-family: Sansation_Regular;
  font-size: 16px !important;
}
@media screen and (max-width: 1300px) {
  main .aboutUs .aboutUs__text-section .text-section__button {
    margin-top: 10px;
  }
}
@media screen and (max-width: 1000px) {
  main .aboutUs .aboutUs__text-section .text-section__button {
    margin-top: 80px;
  }
}
main .aboutUs .aboutUs__text-section .text-section__button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #05a0af;
  border: 1px solid #05a0af;
}
main .aboutUs .aboutUs__text-section .text-section__button:active {
  border: none;
  cursor: pointer;
  background-color: #05a0af;
  color: #fff;
  width: 175px;
}
main .services {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  main .services {
    margin-top: 100px;
  }
}
main .services .services__heading {
  width: 100%;
  height: 200px;
  background-color: #373737;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: -5px;
  font-family: Sansation_Regular;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 3px;
}
@media screen and (max-width: 335px) {
  main .services .services__heading {
    letter-spacing: normal;
  }
}
main .services .services__heading .heading {
  text-align: center;
  width: 80%;
}
main .services .services__heading .border {
  background: linear-gradient(#8b8b8b, #8b8b8b), linear-gradient(#8b8b8b, #8b8b8b);
  background-size: 300px 1px, 300px 1px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
@media screen and (max-width: 1000px) {
  main .services .services__heading .border {
    background: none;
  }
}
main .services .services__heading .services__extra-line {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  left: 300px;
  top: 32px;
}
@media screen and (max-width: 1000px) {
  main .services .services__heading .services__extra-line {
    display: none;
  }
}
main .services .services__heading .services__extra-line1 {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  right: 300px;
  top: 32px;
}
@media screen and (max-width: 1000px) {
  main .services .services__heading .services__extra-line1 {
    display: none;
  }
}
main .services .services__slider .slider__arrow-wrapper {
  width: 34px;
  position: relative;
  float: right;
  right: 2px;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: -30px;
}
main .services .services__slider .slider__arrow-wrapper .arrow {
  margin-left: 1px;
  margin-right: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #097e89;
}
main .services .services__slider .slider__arrow-wrapper .arrow:hover {
  cursor: pointer;
}
main .services .services__slider .slider__arrow-wrapper .arrow:active {
  width: 27px;
  height: 27px;
}
main .services .services__slider .slider__screen1 {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
@media screen and (max-width: 750px) {
  main .services .services__slider .slider__screen1 {
    flex-wrap: wrap;
  }
}
main .services .services__slider .slider__screen1 .slider__item {
  max-width: 500px;
  height: 755px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Sansation_Regular;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 30px;
}
@media screen and (max-width: 750px) {
  main .services .services__slider .slider__screen1 .slider__item {
    height: 555px;
    max-width: 750px;
    width: 100%;
  }
}
@media screen and (min-width: 1713px) {
  main .services .services__slider .slider__screen1 .slider__item {
    max-width: 40%;
  }
}
main .services .services__slider .slider__screen1 .slider__item .item__heading {
  margin-top: 50px;
  text-transform: uppercase;
}
main .services .services__slider .slider__screen1 .slider__item .item__text {
  margin-top: 20px;
}
main .services .services__slider .slider__screen1 .slider__item .item__button {
  width: 140px;
  color: #fff;
  text-transform: uppercase;
  background-color: #959595;
  padding: 7px 18px;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  margin-top: 25px;
}
main .services .services__slider .slider__screen1 .side {
  background-color: #3d3d3d;
}
main .services .services__slider .slider__screen1 .center {
  background-color: #097e89;
}
main .feedback__wrapper .services__heading {
  width: 100%;
  height: 200px;
  background-color: #373737;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: -5px;
  font-family: Sansation_Regular;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 3px;
}
@media screen and (max-width: 335px) {
  main .feedback__wrapper .services__heading {
    letter-spacing: normal;
  }
}
main .feedback__wrapper .services__heading .heading {
  text-align: center;
  width: 80%;
}
main .feedback__wrapper .services__heading .border {
  background: linear-gradient(#8b8b8b, #8b8b8b), linear-gradient(#8b8b8b, #8b8b8b);
  background-size: 300px 1px, 300px 1px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
@media screen and (max-width: 1000px) {
  main .feedback__wrapper .services__heading .border {
    background: none;
  }
}
main .feedback__wrapper .services__heading .services__extra-line {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  left: 300px;
  top: 32px;
}
@media screen and (max-width: 1000px) {
  main .feedback__wrapper .services__heading .services__extra-line {
    display: none;
  }
}
main .feedback__wrapper .services__heading .services__extra-line1 {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  right: 300px;
  top: 32px;
}
@media screen and (max-width: 1000px) {
  main .feedback__wrapper .services__heading .services__extra-line1 {
    display: none;
  }
}
main .feedback__wrapper .feedback__inner {
  width: 100%;
  background-color: #3d3d3d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .feedback__wrapper .feedback__inner .feedback__text-section {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: Sansation_Regular;
  color: #fff;
  margin-left: 20px;
}
@media screen and (max-width: 1032px) {
  main .feedback__wrapper .feedback__inner .feedback__text-section {
    margin-top: 30px;
  }
}
@media screen and (max-width: 880px) {
  main .feedback__wrapper .feedback__inner .feedback__text-section {
    justify-content: center;
    margin-right: 20px;
  }
}
main .feedback__wrapper .feedback__inner .feedback__text-section .feedback__text {
  text-align: center;
  font-weight: normal;
  font-size: 17px;
}
main .feedback__wrapper .feedback__inner .feedback__text-section .text__bottom {
  width: 60px;
  height: 1px;
  margin-top: 20px;
  border-top: 1px solid #fff;
}
main .feedback__wrapper .feedback__inner .feedback__text-section .feedback__nav {
  width: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
main .feedback__wrapper .feedback__inner .feedback__text-section .feedback__nav .nav__arrow {
  width: 17px;
  height: 25px;
}
main .feedback__wrapper .feedback__inner .feedback__text-section .feedback__nav .nav__arrow:hover {
  cursor: pointer;
}
main .feedback__wrapper .feedback__inner .feedback__slider-screen1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 64%;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1032px) {
  main .feedback__wrapper .feedback__inner .feedback__slider-screen1 {
    width: 75%;
  }
}
@media screen and (max-width: 880px) {
  main .feedback__wrapper .feedback__inner .feedback__slider-screen1 {
    flex-direction: column;
    justify-content: center;
  }
}
main .feedback__wrapper .feedback__inner .feedback__slider-screen1 .feedback__item {
  width: 200px;
  height: 225px;
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
main .feedback__wrapper .feedback__inner .feedback__slider-screen1 .feedback__item .fedback__img {
  width: 100%;
}
main .feedback__wrapper .feedback__inner .feedback__slider-screen1 .feedback__item .feedback__label {
  position: relative;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 190px;
  margin-left: 5px;
}
main .feedback__wrapper .feedback__inner .feedback__slider-screen1 .feedback__item .feedback__label .feedback__number {
  width: 40px;
  height: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #fff;
  font-family: Sansation_Regular;
  font-size: 12px;
  color: #000;
  justify-content: center;
}
main .feedback__wrapper .feedback__inner .feedback__slider-screen1 .feedback__item .feedback__label .feedback__data {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #fff;
  font-family: Sansation_Regular;
  font-size: 12px;
  color: #000;
  height: 35px;
  width: 140px;
  margin-left: 10px;
  padding-left: 20px;
  justify-content: start;
}
main .clients__wrapper {
  width: 100%;
}
main .clients__wrapper .services__heading {
  width: 100%;
  height: 200px;
  background-color: #373737;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: -5px;
  font-family: Sansation_Regular;
  text-transform: uppercase;
  font-stretch: ultra-expanded;
  font-weight: normal;
  font-size: 35px;
  letter-spacing: 3px;
  color: #656464;
  background-color: #fff;
}
@media screen and (max-width: 335px) {
  main .clients__wrapper .services__heading {
    letter-spacing: normal;
  }
}
main .clients__wrapper .services__heading .heading {
  text-align: center;
  width: 80%;
}
main .clients__wrapper .services__heading .border {
  background: linear-gradient(#8b8b8b, #8b8b8b), linear-gradient(#8b8b8b, #8b8b8b);
  background-size: 300px 1px, 300px 1px;
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
}
@media screen and (max-width: 1000px) {
  main .clients__wrapper .services__heading .border {
    background: none;
  }
}
main .clients__wrapper .services__heading .services__extra-line {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  left: 300px;
  top: 32px;
}
@media screen and (max-width: 1000px) {
  main .clients__wrapper .services__heading .services__extra-line {
    display: none;
  }
}
main .clients__wrapper .services__heading .services__extra-line1 {
  width: 85px;
  border-top: 3px solid #fff;
  position: relative;
  right: 300px;
  top: 32px;
}
@media screen and (max-width: 1000px) {
  main .clients__wrapper .services__heading .services__extra-line1 {
    display: none;
  }
}
main .clients__wrapper .services__heading .services__extra-line {
  border-top: 2px solid #656464;
}
main .clients__wrapper .services__heading .services__extra-line1 {
  border-top: 2px solid #656464;
}
main .clients__wrapper .clients__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
main .clients__wrapper .clients__inner .clients__item {
  width: 250px;
  margin: 50px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .clients__wrapper .clients__inner .clients__item .item__link .clients__img {
  width: auto;
}
main .contact__wrapper {
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: #097e89;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .contact__wrapper .contact__text-section {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: start;
  font-family: Sansation_Regular;
  color: #fff;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper .contact__text-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
main .contact__wrapper .contact__text-section .contact__subheading {
  font-size: 30px;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper .contact__text-section .contact__subheading {
    margin-top: 90px;
  }
}
main .contact__wrapper .contact__text-section .contact__text {
  font-size: 11px;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper .contact__text-section .contact__text {
    margin-top: 20px;
  }
}
main .contact__wrapper .contact__form-wrapper {
  margin-top: 65px;
  margin-bottom: 65px;
}
main .contact__wrapper .contact__form-wrapper .contact__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper .contact__form-wrapper .contact__form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .contact__wrapper .contact__form-wrapper .contact__form .contact__input {
  width: 200px;
  height: 45px;
  background-color: #097e89;
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  padding-left: 10px;
  margin-left: 0;
  margin-right: -1px;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper .contact__form-wrapper .contact__form .contact__input {
    margin-top: 30px;
  }
}
main .contact__wrapper .contact__form-wrapper .contact__form .contact__input::placeholder {
  color: #fff;
}
main .contact__wrapper .contact__form-wrapper .contact__form .contact__btn {
  height: 47px;
  width: 100px;
  color: #097e89;
  background-color: #fff;
  border-radius: 2px;
  border: 0;
  font-family: Sansation_Regular;
}
@media screen and (max-width: 530px) {
  main .contact__wrapper .contact__form-wrapper .contact__form .contact__btn {
    margin-top: 30px;
  }
}
main .contact__wrapper .contact__form-wrapper .contact__form .contact__btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #097e89;
  border: 1px solid #fff;
  font-weight: 600;
}

.footer__wrapper {
  width: 100%;
  background-color: #474747;
  font-family: Sansation_Regular;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.footer__wrapper .footer__left {
  width: 50%;
  padding-top: 25px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__wrapper .footer__left .left__col-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  color: #fff;
}
.footer__wrapper .footer__left .left__col-wrapper .col__subheading {
  font-size: 23px;
  text-transform: uppercase;
}
.footer__wrapper .footer__left .left__col-wrapper .col__underline {
  width: 50px;
  height: 1px;
  border-top: 1px solid #fff;
}
.footer__wrapper .footer__left .left__col-wrapper .col__link {
  color: #fff;
  text-decoration: none;
}
.footer__wrapper .footer__left .left__col-wrapper .col__link .col__item {
  margin-top: 30px;
  font-weight: normal;
}
.footer__wrapper .footer__left .left__col-wrapper .col__link:hover {
  color: #01a124;
}
.footer__wrapper .footer__right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 50px;
}
.footer__wrapper .footer__right .footer__form {
  margin-top: 35px;
}
.footer__wrapper .footer__right .footer__form .footer__input {
  height: 45px;
  width: 260px;
  padding-left: 15px;
}
.footer__wrapper .footer__right .footer__form .form__btn {
  position: relative;
  right: 125px;
  color: #fff;
  background-color: #0072bc;
  padding: 15px 30px;
  border: 0;
}
.footer__wrapper .footer__right .footer__form .form__btn:hover {
  cursor: pointer;
}
.footer__wrapper .footer__right .footer__form .form__btn:active {
  cursor: pointer;
  padding: 13px 28px;
}
.footer__wrapper .footer__right .footer__networks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 35px;
  margin-right: 120px;
}
.footer__wrapper .footer__right .footer__networks .networks__link {
  text-decoration: none;
  margin-top: 35px;
  margin-right: 5px;
}
.footer__wrapper .footer__right .footer__networks .networks__link .footer__img {
  height: 40px;
  width: 40px;
}