@font-face {
    font-family: Sansation_Regular;
    src: url(../fonts/Sansation_Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

$textColor: #fff;
$linkhover: #01a124;

* {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
    background-image: url(../img/top-banner.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__inner {
    margin: 0;
    padding: 0;

    nav {
        margin: 0;
        padding: 0;
    }

    ul {
        height: 80px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        border-bottom: 1px solid rgb(139, 139, 139);

        @media screen and(max-width: 1080px) {
            min-height: 80px;
            height: 100%;
        }

        .nav__logo {
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }


        .nav__text {
            max-width: 840px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            .nav__item {
                margin-left: 5px;
                margin-right: 5px;

                .nav__link {
                    color: $textColor;
                    text-decoration: none;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 20px;
                    font-weight: 400;

                }

                .nav__link:hover {
                    color: $linkhover;
                }
            }

        }

        .nav__social {
            width: 200px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;

            .nav__item {
                margin-left: 5px;
                margin-right: 5px;

                img {
                    width: 35px;
                    height: 35px;
                }

                img:hover {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }

}

.header__slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 15%;

    .header__arrow-wrapper {
        width: 50px;
        height: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .header__box {
        max-width: 840px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgb(139, 139, 139);
        border-right: 1px solid rgb(139, 139, 139);
        border-left: 1px solid rgb(139, 139, 139);
        background: linear-gradient(rgb(139, 139, 139), rgb(139, 139, 139)), linear-gradient(rgb(139, 139, 139), rgb(139, 139, 139));
        background-size: 310px 1px, 310px 1px;
        background-repeat: no-repeat;
        background-position: left bottom, right bottom;
        text-align: center;

        @media screen and(max-width: 870px) {

            background-size: 150px 1px, 150px 1px;

        }

        @media screen and(max-width: 540px) {

            background-size: 50px 1px, 50px 1px;

        }

        .box__heading {
            color: $textColor;
            font-size: 40px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-transform: uppercase;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        .box__text {
            text-justify: center;
            color: $textColor;
            font-size: 14px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 30px;

        }

        .box__btn {
            width: 130px;
            background-color: transparent;
            color: $textColor;
            text-transform: uppercase;
            padding: 10px 35px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
            font-size: 14px;
            border: 3px solid $textColor;
            position: relative;
            top: 20px;
        }

        .box__btn:hover {
            background-color: $textColor;
            color: rgb(139, 139, 139);
            cursor: pointer;
            border: 3px solid rgb(139, 139, 139);
        }

    }

}

main {

    .aboutUs {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media screen and(max-width: 1000px) {
            justify-content: center;
        }

        .aboutUs__photo {
            width: 50%;

            @media screen and(max-width: 1000px) {
                width: 100%;
            }

            .aboutUs__img {
                width: 100%;
            }
        }

        .aboutUs__text-section {
            width: 45%;
            margin-left: 50px;
            margin-top: 70px;
            font-family: Sansation_Regular;

            @media screen and(max-width: 1000px) {
                width: 70%;
            }

            .text-section__heading {
                text-transform: uppercase;
                font-stretch: ultra-expanded;
                font-weight: normal;
                font-size: 35px;
                letter-spacing: 3px;
                padding-bottom: 15px;
                border-bottom: 1px #000 solid;
                max-width: 450px;
                width: 100%;
            }

            .text-section__extra-line {
                position: relative;
                width: 85px;
                border-top: 2px solid #000;
            }

            .text-section__text {
                margin-top: 50px;
                font-size: 16px;
                max-width: 450px;
                width: 100%;
                letter-spacing: 1px;
                font-stretch: ultra-expanded;

                @media screen and(max-width: 1000px) {
                    max-width: 600px;
                }

                @media screen and(min-width: 1800px) {
                    max-width: 700px;
                }

                @media screen and(max-width: 1300px) {
                    margin-top: 10px;
                }

                @media screen and(max-width: 1000px) {
                    margin-top: 50px;
                }
            }

            .text-section__button {
                margin-top: 80px;
                width: 180px;
                padding: 8px 20px;
                border: none;
                border-radius: 5px;
                background-color: #05a0af;
                color: $textColor;
                font-family: Sansation_Regular;
                font-size: 16px !important;

                @media screen and(max-width: 1300px) {
                    margin-top: 10px;
                }

                @media screen and(max-width: 1000px) {
                    margin-top: 80px;
                }


            }

            .text-section__button:hover {
                cursor: pointer;
                background-color: $textColor;
                color: #05a0af;
                border: 1px solid #05a0af;

            }

            .text-section__button:active {
                border: none;
                cursor: pointer;
                background-color: #05a0af;
                color: $textColor;
                width: 175px;
            }
        }
    }

    @mixin heading {
        width: 100%;
        height: 200px;
        background-color: #373737;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $textColor;
        margin-top: -5px;
        font-family: Sansation_Regular;
        text-transform: uppercase;
        font-stretch: ultra-expanded;
        font-weight: normal;
        font-size: 35px;
        letter-spacing: 3px;

        @media screen and(max-width: 335px) {
            letter-spacing: normal;
        }

        .heading {
            text-align: center;
            width: 80%;


        }

        .border {
            background: linear-gradient(rgb(139, 139, 139), rgb(139, 139, 139)), linear-gradient(rgb(139, 139, 139), rgb(139, 139, 139));
            background-size: 300px 1px, 300px 1px;
            background-repeat: no-repeat;
            background-position: left bottom, right bottom;

            @media screen and(max-width: 1000px) {
                background: none;
            }
        }

        .services__extra-line {
            width: 85px;
            border-top: 3px solid $textColor;
            position: relative;
            left: 300px;
            top: 32px;

            @media screen and(max-width: 1000px) {
                display: none;
            }
        }

        .services__extra-line1 {
            width: 85px;
            border-top: 3px solid $textColor;
            position: relative;
            right: 300px;
            top: 32px;

            @media screen and(max-width: 1000px) {
                display: none;
            }
        }

    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and(max-width: 1000px) {
            margin-top: 100px;
        }

        .services__heading {
            @include heading;
        }

        .services__slider {
            .slider__arrow-wrapper {
                width: 34px;
                position: relative;
                float: right;
                right: 2px;
                bottom: 30px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                margin-bottom: -30px;

                .arrow {
                    margin-left: 1px;
                    margin-right: 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    background-color: #097e89;
                }

                .arrow:hover {
                    cursor: pointer;
                }

                .arrow:active {
                    width: 27px;
                    height: 27px;
                }
            }

            .slider__screen1 {
                width: 100% !important;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                padding: 0;

                @media screen and(max-width: 750px) {
                    flex-wrap: wrap;
                }


                .slider__item {
                    max-width: 500px;
                    height: 755px;
                    width: 100%;
                    color: $textColor;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-family: Sansation_Regular;
                    font-size: 18px;
                    ;
                    padding-left: 40px;
                    padding-right: 30px;

                    @media screen and(max-width: 750px) {
                        height: 555px;
                        max-width: 750px;
                        width: 100%;
                    }

                    @media screen and(min-width: 1713px) {
                        max-width: 40%;
                    }


                    .item__heading {
                        margin-top: 50px;
                        text-transform: uppercase;
                    }

                    .item__text {
                        margin-top: 20px;
                    }

                    .item__button {
                        width: 140px;
                        color: $textColor;
                        text-transform: uppercase;
                        background-color: #959595;
                        padding: 7px 18px;
                        font-size: 14px;
                        border: none;
                        border-radius: 2px;
                        margin-top: 25px;
                    }
                }

                .side {
                    background-color: #3d3d3d;
                }

                .center {
                    background-color: #097e89;
                }


            }


        }


    }

    .feedback__wrapper {

        .services__heading {
            @include heading;
        }

        .feedback__inner {
            // height: 285px;
            width: 100%;
            background-color: #3d3d3d;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .feedback__text-section {
                width: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                font-family: Sansation_Regular;
                color: $textColor;
                margin-left: 20px;

                @media screen and(max-width: 1032px) {
                    margin-top: 30px;
                }

                @media screen and(max-width: 880px) {
                    justify-content: center;
                    margin-right: 20px;
                }

                .feedback__text {
                    text-align: center;
                    font-weight: normal;
                    font-size: 17px;
                }

                .text__bottom {
                    width: 60px;
                    height: 1px;
                    margin-top: 20px;
                    border-top: 1px solid $textColor;
                }

                .feedback__nav {
                    width: 220px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;

                    .nav__arrow {
                        width: 17px;
                        height: 25px;
                    }

                    .nav__arrow:hover {
                        cursor: pointer;
                    }
                }

            }

            .feedback__slider-screen1 {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 64%;
                justify-content: flex-end;
                align-items: center;

                @media screen and(max-width: 1032px) {
                    width: 75%;
                }

                @media screen and(max-width: 880px) {
                    flex-direction: column;
                    justify-content: center;
                }

                .feedback__item {
                    width: 200px;
                    height: 225px;
                    margin: 30px 10px;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                    ;


                    .fedback__img {
                        width: 100%;
                    }

                    .feedback__label {
                        position: relative;
                        bottom: 60px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 190px;
                        margin-left: 5px;

                        @mixin label {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            align-items: center;
                            background-color: #fff;
                            font-family: Sansation_Regular;
                            font-size: 12px;
                            color: #000;

                        }

                        .feedback__number {
                            width: 40px;
                            height: 35px;
                            @include label;
                            justify-content: center;
                        }

                        .feedback__data {
                            @include label;
                            height: 35px;
                            width: 140px;
                            margin-left: 10px;
                            padding-left: 20px;
                            justify-content: start;
                        }
                    }

                }
            }

        }
    }

    .clients__wrapper {
        width: 100%;

        // height: 70vh;
        .services__heading {
            @include heading;
            color: #656464;
            background-color: #fff;

            .services__extra-line {
                border-top: 2px solid #656464;
            }

            .services__extra-line1 {
                border-top: 2px solid #656464;
            }
        }

        .clients__inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .clients__item {
                width: 250px;
                margin: 50px 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .item__link {
                    .clients__img {
                        width: auto;
                    }
                }


            }

        }
    }

    @mixin contact__mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact__wrapper {
        width: 100%;
        height: auto;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: #097e89;

        @media screen and(max-width: 530px) {
            @include contact__mobile;
        }

        .contact__text-section {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 30%;
            height: 90px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            text-align: start;
            font-family: Sansation_Regular;
            color: $textColor;

            @media screen and(max-width: 530px) {
                @include contact__mobile;
                text-align: center;

            }

            .contact__subheading {
                font-size: 30px;

                @media screen and(max-width: 530px) {
                    margin-top: 90px;
                }
            }

            .contact__text {
                font-size: 11px;

                @media screen and(max-width: 530px) {
                    margin-top: 20px;

                }
            }
        }

        .contact__form-wrapper {
            margin-top: 65px;
            margin-bottom: 65px;

            .contact__form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                @media screen and(max-width: 530px) {
                    @include contact__mobile;
                }

                .contact__input {
                    width: 200px;
                    height: 45px;
                    background-color: #097e89;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    color: #fff;
                    padding-left: 10px;
                    margin-left: 0;
                    margin-right: -1px;

                    @media screen and(max-width: 530px) {
                        margin-top: 30px;
                    }
                }

                .contact__input::placeholder {
                    color: $textColor;
                }

                .contact__btn {
                    height: 47px;
                    width: 100px;
                    color: #097e89;
                    background-color: #fff;
                    border-radius: 2px;
                    border: 0;
                    font-family: Sansation_Regular;

                    @media screen and(max-width: 530px) {
                        margin-top: 30px;
                    }
                }

                .contact__btn:hover {
                    cursor: pointer;
                    color: #fff;
                    background-color: #097e89;
                    border: 1px solid #fff;
                    font-weight: 600;
                }
            }
        }
    }

}
.footer__wrapper{
    width: 100%;
    background-color: #474747;
    font-family: Sansation_Regular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .footer__left{
        width: 50%;
        padding-top: 25px;
        padding-bottom: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .left__col-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
            color: $textColor;
            .col__subheading{
                font-size: 23px;
                text-transform: uppercase;
            }
            .col__underline{
                width: 50px;
                height: 1px;
                border-top: 1px solid $textColor;
            }
            .col__link{
                color: $textColor;
                text-decoration: none;
                .col__item{
                    margin-top: 30px;
                    font-weight: normal;
                }
            }
            .col__link:hover{
                color: $linkhover;
            }
        }
    }

    .footer__right{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-right: 50px;
        .footer__form{
        margin-top: 35px;

            .footer__input{
                height: 45px;
                width: 260px;
                padding-left: 15px;
            }
            .form__btn{
                position: relative;
                right: 125px;
                color: #fff;
                background-color: #0072bc;
                padding: 15px 30px;
                border: 0;
            }
            .form__btn:hover{
                cursor: pointer;
            }
            .form__btn:active{
                cursor: pointer;
                padding: 13px 28px;
            }
        }
        .footer__networks{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            margin-bottom: 35px;
            margin-right: 120px;

            .networks__link{
                text-decoration: none;
                margin-top: 35px;
                margin-right: 5px;
                .footer__img{
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}